@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.main {
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

._dashboard {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}

._dashboardVisual {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

._dashboardImage {
  transition: all 0.1s;
  width: 800px;
  height: 300px;

  background-size: 120%;
  background-position-y: -200px;
  border-radius: 10px;
  margin-bottom: 15px;  

  filter: grayscale(0);
}

._dashboardImageProfile {
  transition: all 0.1s;
  width: 170px;
  height: 170px;

  background-size: 500px;
  background-position-y: center;
  border-radius: 50%;
  margin: 20px;
  margin-left: -40px;

  border: 4px solid white;

  filter: grayscale(0);

  position: absolute;
  bottom: 0px;
}

._dashboardImageDetail {
  /* width: 100px; */
  padding-left: 5px;
  padding-right: 5px;
  height: 30px;
  background: white;
  position: absolute;
  bottom: 45px;
  left: 100px;
  border-radius: 5px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
}

._dashboardImageDetail1 {
  /* width: 100px; */
  padding-left: 10px;
  padding-right: 5px;
  height: 20px;
  /* background: white; */
  position: absolute;
  bottom: 20px;
  left: 100px;
  border-radius: 5px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: white;
}

._dashboardImageHolder, ._dashboardImageFilter {
  width: 100%;
  height: 100%;

  border-radius: 10px;
  margin-bottom: 10px;
  transition: all 0.5s;
  opacity: 1;

  position: relative;
}

._dashboardImageHolder {
  /* transition: all 0.5s; */
  background: rgb(0,0,0);
  background: -moz-linear-gradient(18deg, rgba(0,0,0,0.6693277994791666) 33%, rgba(255,255,255,0.0) 66%);
  background: -webkit-linear-gradient(18deg, rgba(0,0,0,0.6693277994791666) 33%, rgba(255,255,255,0.0) 66%);
  background: linear-gradient(18deg, rgba(0,0,0,0.6693277994791666) 33%, rgba(255,255,255,0.0) 66%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);  
}

._dashboardImageFilter {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    54deg,
    rgba(0, 0, 0, 0.7396359227284664) 20%,
    rgba(255, 255, 255, 0.267927239255077) 61%
  );
  background: -webkit-linear-gradient(
    54deg,
    rgba(0, 0, 0, 0.7396359227284664) 20%,
    rgba(255, 255, 255, 0.267927239255077) 61%
  );
  background: linear-gradient(
    54deg,
    rgba(0, 0, 0, 0.7396359227284664) 20%,
    rgba(255, 255, 255, 0.267927239255077) 61%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
}

._dashboardTitle {
  width: 800px;
  height: 50px;
  /* background-color: rgba(0, 0, 0, 0.05); */
  border-radius: 10px;

  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 10px;
}

._dashboardTitleMain {
  padding-bottom: 0px;
  padding-top: 2px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-right: 5px;
}

._dashboardTitleSecondary {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: rgb(125, 125, 125);
  margin-left: 15px;
}

._dashboardTitleDropdown {
  width: 150px;
  height: 40px;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

._dashboardTitleArrow {
  opacity: 0.4;
  margin-left: auto;
  margin-right: 10px;
  height: 50px;
  width: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

._dashboardDetails {
  height: 565px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

._dashboardDetailsMain {
  height: 350px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  background-size: cover;
  padding: 5px;
}

._dashboardDetailsInput {
  height: 45px;
  width: 100%;
  border-radius: 2px 2px 10px 10px;
  background-color: white;
  margin-top: auto;
}

._dashboardDetailsSecondary {
  height: 311px;
  width: 100%;

  border-radius: 10px;
  /* background-color: grey; */
  padding: 5px;
  padding-top: 10px;
  overflow: hidden;
}

._dashboardDetailsSecondaryTitle {
  height: 45px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;

  border-radius: 5px;
  padding-top: 10px;
  /* background-color: black; */
  /* margin-top: auto; */
}

._dashboardOptions {
  width: 800px;
  height: 230px;
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  margin-bottom: 10px;
}

._dashboardOption {
  transition: all 0.3s;
  width: 400px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin: 5px;
  position: relative;
  top: 0px;
}

._dashboardOption:hover {
  transition: all 0.3s;
  height: 225px;
  top: -10px;
}

._dashboardOptionImage {
  transition: all 0.8s;
  width: 382.5px;
  height: 150px;
  
  background-size: 100%;
  background-position-y: center;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5px;

  filter: grayscale(1);
}

._dashboardOptionImage:hover {
  transition: all 0.3s;
  filter: grayscale(0);
  background-size: 95%;
}

._buttons {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

._baseButton {
  margin: 5px;
}

._player {
  width: 100%;
  height: 2px;
  margin-right: 10px;
  margin-left: 10px;
  background: grey;
}

._playerDot {
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
  margin-top: -4px;
}