@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");

.container {
  padding: 0 2rem;
  margin-right: auto;
  margin-left: auto;
}

._logo {
  position: fixed;
  opacity: 0.2;
  top: 70px;
  right: -100px;

  transform: rotate(8deg);
}

._logo0 {
  position: fixed;
  opacity: 0.2;
  top: 300px;
  left: 80px;

  transform: rotate(-3deg);
}

._logo1 {
  position: fixed;
  opacity: 0.2;
  top: -30px;
  left: 450px;

  transform: rotate(-20deg);
}

._box {
  transition: all 0.3s;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 600px;
  /* height: 200px; */

  position: fixed;

  left: 50%;
  transform: translateX(-50%);
  padding: 4px;

  border-radius: 4px;
  background: white;

  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

  z-index: 99;
  overflow: hidden;
}

._boxTech {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  height: 40px;
  width: 98%;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;

  overflow: hidden;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

._techPill,
._techPillMobile {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;

  transition: all 0.5s;

  height: 25px;
  width: 55px;

  background: white;
  border-radius: 4px;

  opacity: 0.8;

  margin: 6px;
  margin-right: 2px;
  margin-left: 2px;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

._techPillMobile {
  height: 20px;
  width: 50px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

._techPill:hover,
._techPillMobile:hover {
  transition: all 0.5s;

  height: 27px;
  width: 62px;

  background: orangered;
  border-radius: 4px;

  opacity: 1;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

._displayBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: scroll;

  width: 98%;

  border-radius: 4px;
  margin-top: 10px;
  padding-left: 4px;
  padding-right: 4px;
}

._displayTech {
  transition: all 0.2s;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 60px;
  width: 98%;
  border-radius: 4px;
  margin-top: 10px;

  opacity: 0.7;

  font-family: "Open Sans Condensed", sans-serif;
}

._displayTech:hover {
  transition: all 0.2s;
  opacity: 1;
}

._displayLogo {
  transition: all 0.2s;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  height: 60px;
  border-radius: 4px;
  margin-right: 10px;

  font-family: "Open Sans Condensed", sans-serif;
}

._displayComment {
  transition: all 0.2s;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  height: 60px;
  width: 250px;
  margin-left: 10px;

  font-family: "Open Sans Condensed", sans-serif;
}

._displayDate {
  transition: all 0.2s;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  height: 60px;
  width: 200px;
  margin-left: 10px;

  font-family: "Open Sans Condensed", sans-serif;
}

._displayProjects {
  transition: all 0.2s;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  height: 60px;
  width: 100px;
  margin-left: 10px;

  font-family: "Open Sans Condensed", sans-serif;
}

._p {
  margin: 0px;
}

._p2 {
  margin: 0px;
  margin-right: 5px;
  margin-top: 2px;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

._a {
  transition: all 0.2s;
}

._a:hover {
  transition: all 0.2s;
  color: orangered;
  font-weight: 700;
}

._displayIntro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 150px;

  padding-top: 20px;
}

._introPic {
  background: url(/assets/me1.jpg);
  background-size: 380px;
  background-position-y: -40px;
  background-position-x: -90px;
  border-radius: 50%;
  width: 150px;
  height: 150px;

  margin: 15px;
}

._introText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  height: 150px;
  width: 350px;

  font-family: "Open Sans Condensed", sans-serif;
}

._introText2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

._logoBG {
  position: absolute;
  bottom: -40px;
  left: -30px;
  z-index: -1;
  opacity: 0.04;
  transform: rotate(-10deg);
}

._textArea:focus,
._textArea {
  border: none;
  outline: none;
  resize: none;

  width: 98%;
  height: 110px;

  margin: 0px;
  margin-top: 20px;
  margin-left: 20px;

  background: transparent;
  padding-left: 10px;
  padding-top: 10px;
}

._textInput:focus,
._textInput {
  border: none;
  outline: none;
  resize: none;

  height: 40px;
  width: 200px;
  background: rgba(255, 255, 255, 0.5);
  margin-top: 0px;
  margin-right: 6px;
  padding-left: 6px;

  border-radius: 4px;

  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

._send{
  transition: all 0.3s;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 100px;
  border-radius: 4px;
  opacity: 0.3;
  background: gainsboro;
}

._send:hover {
  transition: all 0.3s;
  opacity: 1;
  background: orangered;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}